{{>layouts/header}}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#articles}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}">{{title}}</td></a>
            <td>{{content}}</td>
        </tr>
    {{/articles}}
    </tbody>
</table>
<a href="/articles/new">새 글 작성</a>
<a href="/articles/list">글 목록</a>
{{>layouts/footer}}
